@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Sonner Notification Toast: Close Button on Right Side */
[data-sonner-toast] [data-close-button] {
  left: auto !important;
  right: 0 !important;
  transform: translate(35%, -35%) !important;
}
